{{#if errors}}
<div data-alert class="alert-box alert radius">
  <ul>
  {{#errors}}
  <li>{{ message}}</li>
  {{/errors}}
  </ul>
  <a href="#" class="close">&times;</a>
</div>
{{/if}}

{{#isNew}}
<h1>New card</h1>

<form id="card_form" action="/cards" method="POST">
{{/isNew}}
{{^isNew}}
<h1>Edit card</h1>

<form id="card_form" action="/cards/{{ _id }}" method="PUT">
{{/isNew}}
{{#card}}
  <div class="row">
    <div class="columns small-4">
      <div class="row">
        <div class="columns">
        <label>Name
          <input name="name" type="text" value="{{ name }}" required />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Mana
          <input name="mana" type="text" value="{{ mana }}" disabled />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Attack
          <input name="attack" type="text" value="{{ attack }}" required />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Health
          <input name="health" type="text" value="{{ health }}" required />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Image
          <input type="file" id="image" name="image" value="{{ image }}" />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Type
          <select name="type">
            <option value="1">Creature</option>
          </select>
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Flavor Text
          <textarea name="flavorText">{{ flavorText }}</textarea>
        </label>
        </div>
      </div>

    </div>

    <div class="columns small-4">
      <div id="card-details" class="preview">
        <div class="mana">{{ mana }}</div>
        <div class="image"><img id="image_preview" src="http://localhost:8000/images/{{ image }}" /></div>
        <div class="name">{{ name }}</div>
        <div class="information">
          {{#abilities}}
            {{#value}}<div><strong>{{ name }}</strong></div>{{/value}}
          {{/abilities}}
          <div class="flavor-text">{{ flavorText }}</div>
        </div>
        <div class="footer">
          <div class="stats">{{ attack }} / {{ health }}</div>
          <div class="type">{{ type }}</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="columns small-4">
      {{#abilities}}
      <div class="row">
        <div class="columns">
        <label>{{ name }}
          <select name="{{ name }}" required>
            <option value="false" {{^value}}selected{{/value}}>False</option>
            <option value="true" {{#value}}selected{{/value}}>True</option>
          </select>
        </label>
        </div>
      </div>
      {{/abilities}}

    </div>

  </div>
  <div class="row">
    <button id="save" type="submit">Save</button>
    <button id="cancel" type="button">Back</button>
  </div>
{{/card}}
</form>
<script>
$('#cancel').on('click', function() {
  window.location = '/cards';
});

if (window.File && window.FileReader && window.FileList && window.Blob) {
  $('#image').on('change', function(evt) {
    var file = evt.originalEvent.target.files[0];

    if (!file.type.match('image.*')) return;

    var reader = new FileReader();
    reader.onload = function(f) {
      $('#image_preview').attr('src',event.target.result);
    };
    reader.readAsDataURL(file);
  });
}
</script>
