<!DOCTYPE html>
<html>
<head>
  <title>Card Editor</title>
  <meta charset=utf-8>
  <script src="{{ host }}/lib/jquery-1.11.3.js"></script>
  <script src="{{ host }}/lib/foundation.min.js"></script>
  <link rel="stylesheet" href="{{ host }}/css/foundation.css" />
  <link rel="stylesheet" href="{{ host }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ host }}/css/style.css" />
</head>
<body>
  <h1>{{ title }}</h1>
  {{{body}}}
</body>
</html>
