{{!< editor }}
<h1>Cards Gallery</h1>

<a href="/cards/new">Add new</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mana</th>
      <th>Attack</th>
      <th>Health</th>
      <th>Type</th>
      <th>Image</th>
      <th>First Strike</th>
      <th>Rush</th>
      <th>Overwhelm</th>
      <th>Deathtouch</th>
      <th>Venom</th>
      <th>Transfusion</th>
      <th>Vampirism</th>
      <th>Berserker</th>
      <th>Flavor Text</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#cards}}
    <tr>
      <td>{{name}}</td>
      <td>{{mana}}</td>
      <td>{{attack}}</td>
      <td>{{health}}</td>
      <td>{{type}}</td>
      <td>{{image}}</td>
      <td>{{firstStrike}}</td>
      <td>{{rush}}</td>
      <td>{{overwhelm}}</td>
      <td>{{deathtouch}}</td>
      <td>{{venom}}</td>
      <td>{{transfusion}}</td>
      <td>{{vampirism}}</td>
      <td>{{berserker}}</td>
      <td>{{flavorText}}</td>
      <td><a class="edit-link" href="/cards/{{_id}}">Edit</a> | <a class="delete-link" data-card-name="{{name}}" href="/cards/{{_id}}">Delete</a></td>
    </tr>
    {{/cards}}
  </tbody>
</table>

<script>
$(document).ready(function() {
  $('.delete-link').on('click', function(ev) {
    ev.preventDefault();
    if (window.confirm("Do you really want to delete '" + $(this).attr('data-card-name') + "' card?")) {
      $.ajax($(this).attr('href'), {
        method: 'delete',
        success: function(data) {
          if (data.redirect) {
            window.location = data.url;
          }
        },
        error: function(err) {
          var message = (err.hasOwnProperty('message')) ? err.message : 'Error deleting card';
          showMessage('alert', message);
        }
      });
    }
  });
});

{{#if flash}}
showMessage('{{ flash.type }}', '{{ flash.message }}');
{{/if}}
</script>
