{{!< editor }}
{{#if errors}}
<div data-alert class="alert-box alert radius">
  <ul>
  {{#errors}}
  <li>{{ message}}</li>
  {{/errors}}
  </ul>
  <a href="#" class="close">&times;</a>
</div>
{{/if}}

{{#if card}}
{{#isNew}}
<h1>New card</h1>

<form id="card_form" action="/cards" method="POST">
{{/isNew}}
{{^isNew}}
<h1>Edit card</h1>

<form id="card_form" action="/cards/{{ card.id }}" method="POST">
{{/isNew}}
{{/if}}
  <div class="row">
    <div class="columns small-4">
      <div class="row">
        <div class="columns">
        <label>Name
          <input name="name" type="text" value="{{ card.name }}" {{#if isNew}}required{{/if}} />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Mana
          <input name="mana" type="text" value="{{ card.mana }}" {{#if isNew}}required{{/if}} />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Attack
          <input name="attack" type="text" value="{{ card.attack }}" {{#if isNew}}required{{/if}} />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Health
          <input name="health" type="text" value="{{ card.health }}" {{#if isNew}}required{{/if}} />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Image
          <input type="file" id="image" name="image" value="{{ card.image }}" {{#if isNew}}required{{/if}} />
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Type
          <select name="type">
            <option value="1">Creature</option>
          </select>
        </label>
        </div>
      </div>

      <div class="row">
        <div class="columns">
        <label>Flavor Text
          <textarea name="flavorText">{{ card.flavorText }}</textarea>
        </label>
        </div>
      </div>

    </div>

    <div class="columns small-4">
      <div id="card-details" class="preview"></div>
    </div>

    <div class="columns small-4">
      {{#card.abilities}}
      <div class="row">
        <div class="columns">
        <label>{{ name }}
          <select name="{{ name }}">
            <option value="false" {{^value}}selected{{/value}}>False</option>
            <option value="true" {{#value}}selected{{/value}}>True</option>
          </select>
        </label>
        </div>
      </div>
      {{/card.abilities}}

    </div>

  </div>
  <div class="row">
    <button id="save" type="submit">Save</button>
    <button id="cancel" type="button">Back</button>
  </div>
</form>
<script>

var model = null,
    cardView = null;

$('#cancel').on('click', function() {
  window.location = '/cards';
});

if (window.File && window.FileReader && window.FileList && window.Blob) {
  $('#image').on('change', function(evt) {
    var file = evt.originalEvent.target.files[0];

    if (!file.type.match('image.*')) return;

    var reader = new FileReader();
    reader.onload = function(f) {
      $('#card-details > .image > img').attr('src', event.target.result);
    };
    reader.readAsDataURL(file);
  });
}

$(document).ready(function() {
  model = new Card({{{ card }}});
  cardView = new CardPopupView({model: model, popup: false});
  cardView.render(model);

  $('form').on('keyup', function(value) {
    updateModel();
  });

  $('select').on('change', function(value) {
    updateModel();
  });
});

function updateModel() {
  var data = $('select').serializeObject();
  for (var attr in data) {
    data[attr] = (data[attr] === 'true') ? true : false;
  }
  _.extend(data, $('input').serializeObject());
  _.extend(data, $('textarea').serializeObject());
  model.set(data);
}
</script>
