<div class="columns">
{{#if enchantments.length}}
<div class="row header">
  <span class="columns small-3">Description</span>
  <span class="columns small-1">Event</span>
  <span class="columns small-1">Select</span>
  <span class="columns small-1">Type</span>
  <span class="columns small-1">Condition</span>
  <span class="columns small-1">Band</span>
  <span class="columns small-1">Class</span>
  <span class="columns small-1">Quantity</span>
  <span class="columns small-2">Actions</span>
</div>
{{#enchantments}}
<div class="row {{#if_odd @index}}odd{{/if_odd}}">
  <div class="columns">

    <div class="row">
      <span class="columns small-3">{{description}}</span>
      <span class="columns small-1">{{event}}</span>
      <span class="columns small-1">{{target.select}}</span>
      <span class="columns small-1">{{target.type}}</span>
      <span class="columns small-1">{{target.condition}}</span>
      <span class="columns small-1">{{target.band}}</span>
      <span class="columns small-1">{{target.class}}</span>
      <span class="columns small-1">{{target.quantity}}</span>
      <span class="columns small-2">
        <a href="#" class="delete-enchantment" data-id="{{@index}}">Delete</a> | 
        <a href="#" class="show-enchantment-details" data-id="{{@index}}" data-action="show"><i class="fa fa-caret-down"></i></a>
      </span>
    </div>

    <div class="row expand enchantment-details" data-id="{{@index}}">
      <div class="columns">
      {{#mods}}
        <div class="row modification">
          <span class="columns small-1"><strong>{{spell}}</strong></span>
          <span class="columns small-1">{{attribute}}</span>
          <span class="columns small-1">{{ability}}</span>
          <span class="columns small-1">{{operation}}</span>
          <span class="columns small-1">{{multiplier}}</span>
          <span class="columns small-6">{{value}}</span>
        </div>
      {{/mods}}
      </div>
    </div>

  </div> <!-- columns -->
</div>
{{/enchantments}}
{{/if}}
</div>
