{{#enchantments}}
<tr>
  <td>{{description}}</td>
  <td>{{event}}</td>
  <td>{{target.select}}</td>
  <td>{{target.type}}</td>
  <td>{{target.condition}}</td>
  <td>{{target.band}}</td>
  <td>{{target.class}}</td>
  <td>{{target.quantity}}</td>
  <td><a href="#" class="delete-enchantment" data-id="{{@index}}">Delete</a></td>
</tr>
{{/enchantments}}
