<div class="row collapse prefix-radius">
  <div class="small-4 columns">
    <span class="prefix">{{ name }}</span>
  </div>
  <div class="small-8 columns">
    <select name="{{ name }}" {{#if isNew}}required{{/if}}>
    {{#if placeholder}}
      <option value="null" selected>{{ placeholder }}</option>
    {{/if}}
    {{#values}}
        <option value="{{ value }}" {{#if selected}}selected{{/if}}>{{ name }}</option>
    {{/values}}
    </select>
  </div>
</div>
