<div id="form-field-{{ name }}" class="row collapse prefix-radius">
  <div class="small-5 columns">
    <span class="prefix">{{ name }}</span>
  </div>
  <div class="small-7 columns">
    <select name="{{ name }}" {{#if isNew}}required{{/if}}>
    {{#if placeholder}}
      <option value selected>{{ placeholder }}</option>
    {{/if}}
    {{#values}}
        <option value="{{ value }}" {{#if selected}}selected{{/if}}>{{ name }}</option>
    {{/values}}
    </select>
  </div>
</div>
